{{#each recipes as |recipe|}}

  <ul data-id="{{recipe.id}}">
    <li><h1><small>{{recipe.name}}</small></h1></li>
    <li>Id: {{recipe.id}}</li>
    <li>Serves: {{recipe.serves}}</li>
    <li>Category: {{recipe.category}}</li>
    <li>Ingredients: {{recipe.ingredients}}</li>
    <li>Directions: {{recipe.directions}}</li>
    <li><button class="btn btn-danger deleteRecipeButton">Delete Recipe</button></li>
  </ul>

{{/each}}
